@font-face {
    font-family: "DM Sans";
    font-weight: 400 500;
    src: url(/assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "DM Sans";
    font-weight: 400 500;
    font-style: italic;
    src: url(/assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
}

:root {
	/* Colours */
	--clr-purple-100: hsl(254, 88%, 90%);
	--clr-purple-500: hsl(256, 67%, 59%);

	--clr-yellow-100: hsl(31, 66%, 93%);
	--clr-yellow-500: hsl(39, 100%, 71%);

	--clr-white: hsl(0, 0%, 100%);
	--clr-black: hsl(0, 0%, 7%);

	/* Typography */
	--ff-base: "DM Sans", Arial, Helvetica, sans-serif;
	--fs-base: 18px;
	--fw-regular: 400;
	--fw-bold: 500;
}

/* General Styles */
body {
	font-size: var(--fs-base);
	font-family: var(--ff-base);
	font-weight: var(--fw-regular);
	color: var(--clr-black);
	background-color: hsl(0, 0%, 96%);

	display: grid;
	height: 100vh;
}

h1,
h2 {
	line-height: 0.95;
}

h1 {
	font-size: clamp(2.75rem, 5vw, 3.75rem);
	font-weight: var(--fw-bold);
	margin-block-end: 1rem;
}

h2 {
	font-size: clamp(1.55rem, 5vw, 2rem);
	font-weight: var(--fw-bold);
	letter-spacing: -0.05em;
}

/* Main Styles */
.container {
	display: grid;
	padding: 2rem 1rem;
	max-width: 70rem;
	gap: 2rem;
}

.block {
	/* background-color: cadetblue; */
	display: grid;
	gap: 1rem;
	border-radius: clamp(0.5rem, 5vw, 0.75rem);
	overflow: clip;
}

/* Block 1 */
.block-1 {
	color: var(--clr-white);
	background-color: var(--clr-purple-500);
	padding: 2.25rem;
	justify-items: center;
	gap: 0.25em;

	h1 {
		text-align: center;
	}

	p {
		color: var(--clr-yellow-100);
	}

	img {
		width: 65%;
	}
}

/* Block 2 */
.block-2 {
	background-color: var(--clr-white);
	padding: 1rem;

	img {
		order: -1;
		filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.1));
		border-radius: 10rem;
	}
}

/* Block 3 */
.block-3 {
	background-color: var(--clr-yellow-500);
	padding: 1rem;

	h2 {
		padding-inline-end: 5rem;
	}

	img {
		width: 65%;
		margin-bottom: -35px;
	}
}

/* Block 4 */
.block-4 {
	background-color: var(--clr-purple-100);
	padding: 1.75rem 1rem;
	justify-items: center;

	p {
		text-align: center;
		line-height: 1;
		padding-inline: 0.5em;
	}
}

/* Block 5 */
.block-5 {
	color: var(--clr-white);
	background-color: var(--clr-purple-500);
	padding: 1.25rem;
	justify-items: center;
	gap: 2rem;

	h2 {
		font-size: clamp(2rem, 5vw, 2.5rem);
		text-align: center;
		padding-inline: 2rem;
	}

	img {
		order: -1;
		width: 75%;
	}
}

/* Block 6 */
.block-6 {
	background-color: var(--clr-white);
	padding: 1.5rem;

	h2 {
		font-size: clamp(3rem, 5vw, 4rem);
	}

	img {
		width: 55%;
	}
}

/* Block 7 */
.block-7 {
	background-color: var(--clr-yellow-100);
	padding: 1.5rem;

	h2 {
		font-size: clamp(2rem, 5vw, 2.5rem);
	}

	img {
		width: 60%;
	}
}

/* Block 8 */
.block-8 {
	background-color: var(--clr-yellow-500);
	padding: 1.5rem;
	gap: 1.5rem;

	h2 {
		font-size: clamp(2rem, 5vw, 2.5rem);
	}

	img {
		width: 72.5%;
	}
}

/* Media Queries */
@media (min-width: 55rem) {
	.container {
		padding: 0;
		justify-self: center;
		align-self: center;
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
			"mini-grid block-1 block-1 block-4"
			"mini-grid block-2 block-3 block-4"
			"mini-grid block-6 block-5 block-5";
	}

	/* Block 1 */
	.block-1 {
		grid-area: block-1;
		padding-block: 3.5rem;

		img {
			width: 40%;
		}
	}

	/* Block 2 */
	.block-2 {
		grid-area: block-2;
		padding: 1.5rem;

		img {
			max-width: 150%;
		}
	}

	/* Block 3 */
	.block-3 {
		grid-area: block-3;
		padding: 1.5rem;

		img {
			width: 100%;
			margin-bottom: -100px;
		}
	}

	/* Block 4 */
	.block-4 {
		grid-area: block-4;
		padding: 2.75rem 1.75rem;
		justify-items: left;

		p {
			text-align: left;
			padding: 0;
		}

		img {
			max-width: 180%;
		}
	}

	/* Block 5 */
	.block-5 {
		grid-area: block-5;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		gap: 1rem;
		padding: 1.5rem;

		h2 {
			text-align: left;
			padding-inline: 0;
		}

		img {
			width: 100%;
		}
	}

	/* Block 6 */
	.block-6 {
		grid-area: block-6;
		padding: 1.5rem;

		img {
			width: 90%;
		}
	}

	.mini-grid {
		grid-area: mini-grid;
		display: grid;
		gap: 2rem;
		grid-template-rows: 1.45fr 1.55fr;
		grid-template-areas:
			"block-7"
			"block-8";
	}

	/* Block 7 */
	.block-7 {
		grid-area: block-7;
		padding-inline: 2rem;
		gap: 1.5rem;
		align-content: center;

		img {
			width: 100%;
		}
	}

	/* Block 8 */
	.block-8 {
		grid-area: block-8;
		align-content: space-between;

		img {
			max-width: 105%;
			width: 105%;
		}
	}
}

/* Utility Classes */
.italic {
	font-style: italic;
}

.yellow-accent {
	color: var(--clr-yellow-500);
}

.purple-accent {
	color: var(--clr-purple-500);
}
