:root {
    /* Colours */
    --clr-purple-100: hsl(254, 88%, 90%);
    --clr-purple-500: hsl(256, 67%, 59%);

    --clr-yellow-100: hsl(31, 66%, 93%);
    --clr-yellow-500: hsl(39, 100%, 71%);

    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 7%);

    /* Typography */
    --ff-base: "DM Sans", sans-serif;
    --fs-base: 18px;
    --fw-regular: 400;
    --fw-bold: 500;
}



/* General Styles */
body {
    font-size: var(--fs-base);
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    color: var(--clr-black);
    background-color: hsl(0, 0%, 96%);

    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;
}

h1, h2 {
    line-height: 0.95;
}

h1 {
    font-size: 2.75rem;
    font-weight: var(--fw-bold);
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.55rem;
    font-weight: var(--fw-bold);
    letter-spacing: -0.05em;
}



/* Utility Classes */
.italic {
    font-style: italic;
}

.yellow-accent {
    color: var(--clr-yellow-500);
}

.purple-accent {
    color: var(--clr-purple-500);
}



/* Main Styles */
.container {
    margin: 1.75em 1em;
    display: grid;
    gap: 1.5em;
}

.mini-grid {
    display: grid;
    gap: 1.5em;
}

.block {
    background-color: cadetblue;
    border-radius: 0.5em;
}


/* Block 1 */
.block-1 {
    color: var(--clr-white);
    background-color: var(--clr-purple-500);
    padding: 2.25em;

    display: grid;
    justify-items: center;
}

.block-1 h1 {
    text-align: center;
}

.block-1 p {
    color: var(--clr-yellow-100);
}

.block-1 img {
    width: 10.5em;
    margin-bottom: 0.25em;
}


/* Block 2 */
.block-2 {
    background-color: var(--clr-white);
    padding: 1em;

    display: grid;
    gap: 1.05em;
}

.block-2 img {
    /* width: 100%; */
    box-shadow: 0 2px 50px rgba(0,0,0,0.075);
    border-radius: 10em;
}


/* Block 3 */
.block-3 {
    background-color: var(--clr-yellow-500);
    padding: 1em 5em 0 1em;
    height: 12.25em;
    overflow: hidden;

    display: grid;
    gap: 1em;
}

.block-3 img {
    width: 11.5em;
}


/* Block 4 */
.block-4 {
    background-color: var(--clr-purple-100);
    padding: 1.75em 1em;

    display: grid;
    justify-items: center;
    gap: 1.5em;
}

.block-4 p {
    text-align: center;
    line-height: 1;
    padding: 0 0.5em;
}


/* Block 5 */
.block-5 {
    color: var(--clr-white);
    background-color: var(--clr-purple-500);
    padding: 1.25em 3.25em;

    display: grid;
    justify-items: center;
    gap: 2em;
}

.block-5 h2 {
    font-size: 2rem;
    text-align: center;
}


/* Block 6 */
.block-6 {
    background-color: var(--clr-white);
    padding: 1em;

    display: grid;
    gap: 1em;
}

.block-6 h2 {
    font-size: 3rem;
}

.block-6 img {
    width: 10em;
}


/* Block 7 */
.block-7 {
    background-color: var(--clr-yellow-100);
    padding: 1.5em 1.5em;

    display: grid;
    gap: 1em;
}

.block-7 h2 {
    font-size: 2rem;
}

.block-7 img {
    width: 10em;
}


/* Block 8 */
.block-8 {
    background-color: var(--clr-yellow-500);
    padding: 1.5em 2em 1.5em 1.5em;

    display: grid;
    gap: 1em;
}

.block-8 h2 {
    font-size: 2rem;
}

.block-8 img {
    width: 12em;
}



/* Media Queries */
@media (min-width: 60em) {
    body {
        align-items: center;
    }
    
    h1 {
        font-size: 3.75rem;
    }

    h2 {
        font-size: 2rem;
    }

    .container {
        margin: 0;
        max-width: 62.75em;
        max-height: 50em;
        display: grid;
        gap: 1.75em;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "mini-grid block-1 block-1 block-4"
        "mini-grid block-2 block-3 block-4"
        "mini-grid block-6 block-5 block-5";
    }
    

    /* Block 1 */
    .block-1 {
        grid-area: block-1;
        padding: 3.25em 2em;
    }
     

    /* Block 2 */
    .block-2 {
        grid-area: block-2;
        padding: 1.5em 0 1.5em 1.5em;
        height: 14.25em;
        overflow: hidden;
    }

    .block-2 h2 {
        padding-right: 3.5em;
    }

    .block-2 img {
        min-width: 17.5em;
    }
     

    /* Block 3 */
    .block-3 {
        grid-area: block-3;
        padding: 1.25em 1.25em 0 1.25em;
        height: 14.25em;
    }

    .block-3 img {
        width: 100%;
    }
     

    /* Block 4 */
    .block-4 {
        grid-area: block-4;
        padding: 2.5em 0 2.5em 1.5em;
        overflow: hidden;
        gap: 0.5em;
    }

    .block-4 h2 {
        padding-right: 4em;
    }

    .block-4 p {
        text-align: left;
        padding-right: 9em;
    }

    .block-4 img {
        min-width: 20em;
    }
     

    /* Block 5 */
    .block-5 {
        grid-area: block-5;
        display: flex;
        align-items: center;
        gap: 1em;
        padding: 1.25em;
    }

    .block-5 img {
        width: 12.5em;
    }

    .block-5 h2 {
        font-size: 2.75rem;
        text-align: left;
    }
     

    /* Block 6 */
    .block-6 {
        grid-area: block-6;
        gap: 0.5em;
        padding: 1.25em;
        height: 14.25em;
    }

    .block-6 h2 {
        font-size: 4rem;
    }
    

    .mini-grid {
        grid-area: mini-grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
        "block-7"
        "block-8";
    }
     

    /* Block 7 */
    .block-7 {
        grid-area: block-7;
        padding: 4em 2em;
        gap: 0;
    }

    .block-7 h2 {
        font-size: 2.5rem;
    }

    .block-7 img {
        width: 100%;
        justify-self: center;
    }
     

    /* Block 8 */
    .block-8 {
        grid-area: block-8;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5em 0 1.5em 1.5em;
    }

    .block-8 h2 {
        font-size: 2.5rem;
        padding-right: 1em;
    }

    .block-8 img {
        width: 100%;
        padding-right: 0.75em;
    }
}